.labels {
    padding: 0 15px;
}

.label input {
    width: 100%;
    font-size: 0.7em;
    font-weight: 600;
    color: #008650;
    border: 1px solid #008650;
    background-color: #01437c00;
    border-radius: 5px;
}

.labels .label {
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
}

.label input.active {
    background-color: #008650;
    color: white;
}

.label input:hover{
    background-color: rgba(0, 133, 78, 0.24);
}

.label input.active:hover {
    background-color: #005231;
}

.ing-filter {
    width: 100%;
}