

.labels {
    padding: 0 15px;
}

.label input {
    width: 100%;
    font-size: 0.7em;
    font-weight: 600;
    color: white;
    background-color: #01a865;
    border-radius: 5px;
    border: 0;
}
.labels .label {
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
}

.label input.active {
    background-color: #f28b18;
}

.label input:hover{
    background-color: #008650;
}

.label input.active:hover {
    background-color: #e99a40;
}