h5 {
    margin-bottom: 40px;
}

.home-page {
    max-width: 100%;
}

.hero {
    
    background-repeat: no-repeat;
    background-size: cover;
    color: #353535;
    height: 80vh;
    margin: 7px;
    transition: 0.5s ease;
    max-width: 100%;
}



.hero .container {
    height: 100%;
}

.hero .row {
    text-align: center;
}

.hero h1 {
    font-size: 4em;
}

.info-block {
    margin-right: 0;
    margin-left: 0;
}




