h5 {
    margin-bottom: 40px;
}

.home-page {
    max-width: 100%;
}

.hero {
    
    background-repeat: no-repeat;
    background-size: cover;
    color: #353535;
    height: 80vh;
    margin: 7px;
    transition: 0.5s ease;
    max-width: 100%;
}



.hero .container {
    height: 100%;
}

.hero .row {
    text-align: center;
}

.hero h1 {
    font-size: 4em;
}

.info-block {
    margin-right: 0;
    margin-left: 0;
}

/* .community-col {
    padding: 0;
}

.community-section {
    
    background-image: url("./chalkboard-background.jfif");
    margin: 7px;
    height: 80vh;
    color: white;
    transition: 0.5s ease;
}

.community-section div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.community-section h2 {
    font-size: 2.5em;
}


.other-col {
    padding: 0;
}

.other-section {
   
    background-image: url("./chalkboard-background.jfif");
    margin: 7px;
    height: 80vh;
    color: white;
    transition: 0.3s ease;
}

.other-section div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.other-section h2 {
    font-size: 2.5em;
} */




