.new-recipe-btn {
    margin-bottom: 20px;
}

.avatar-section {
    margin-bottom: 20px;
}

.avatar-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;

}
