.user-recipes {
    margin-right: 0;
}

.new-recipe-btn {
    margin-bottom: 40px;
    margin-top: 5px;
}

.avatar-section {
    margin-bottom: 20px;
}

.avatar-section img {
    width: 100%;
    /* height: 150px; */
    object-fit: cover;
    border-radius: 50%;
    display: block;


    background-color: red;
}

.modal-dialog {
    max-width: 800px;
  }

.avatar-row {
    margin-left: 30px;
}

.profile-btn {
    display: flex;
    justify-content: space-around;
}

.profile-details-btn {
    width: 45%;
}

.delete-btn {
    background-color: rgb(228, 50, 50);
    transition: .5 ease;
    color: white;
    border: 0;
}

.delete-btn:hover {
    background-color: rgb(187, 0, 0);

}

.edit-recipe-btn {
    display: block
}

.profile-img {
    margin-bottom: 20px;
}

.delete-account-btn {
    margin-top: 100px;
}