.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-top-color: #008650;
  border-left-color:#a3a3a3;
  border-right-color: #a3a3a3;
  border-bottom-color: #a3a3a3;
  animation: spinner 1s infinite ease-in-out
}


@keyframes spinner {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}