.add-ing-btn {
    align-self: flex-end;
}

.add-ing-btn button {
    width: 100%;
}

.add-step-btn {
    align-self: flex-end;
}

.add-step-btn button {
    width: 100%;
}

.item-col {
    padding: 0;
}

.item-list {
    padding-left: 0;
    padding-right: 0;
}

.delete-button {
    float: right;
    background-color: rgb(228, 50, 50);
    border: 1px solid rgb(228, 50, 50)
}

.delete-button:hover {
    background-color: rgb(187, 0, 0);
    border: 1px solid rgb(187, 0, 0)
}

.delete-button img {
    width: 15px;
}