.add-ing-btn {
    align-self: flex-end;
}

.add-ing-btn button {
    width: 100%;
}

.add-step-btn {
    align-self: flex-end;
}

.add-step-btn button {
    width: 100%;
}

.item-col {
    padding: 0;
}

.item-list {
    padding-left: 0;
    padding-right: 0;
}

.delete-button {
    float: right;
}

.delete-button img {
    width: 20px;
}