@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Source+Sans+Pro&display=swap');;

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EFEFEF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}

img {
    width: 100%
}

main {
  min-height: 85vh;
}

.navigation-bar {
  font-size: 1.2em;
  padding: 18px;
}

.navigation-bar div {
  text-align: right;
}

.navbar-brand {
  margin-right: 0;
  font-size: 1.4em;
}

.dropdown-menu.show {
  background-color: #343a40;
}

/* .button {
    margin-top: 30px;
    font-size: 1.2em;
    color: white;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 35px;
    background-color:#01427c;
    transition: 0.5s ease;
    font-weight: 700;
}

.button.button-small {
    font-size: 1em;
}

.button.button-white {
    background-color: white;
    border: 3px solid white;
    color: black;
}

.button.button-white.button-transparent {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
}

.button.button-white.button-transparent:hover {
    background-color: white;
    color: black;
} */

/* ::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 6px rgb(243, 243, 243); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 6px rgb(201, 201, 201); 
} */

.spinner-div {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 35px;
  background-color: #ffffff00;
  color: #008650;
  transition: .5 ease;
  border: 1px solid #008650;
}


.btn.btn-dark:active
{
    background-color:#00ac67 !important; /* add here any color */
    border: 1px solid #00ac67
}

.btn:hover {
  background-color: #008650;
  color: white;
  border: 1px solid #008650;
}

.btn-primary:focus {
  color: #fff;
  background-color: #008650;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #01965a;
  border-color: #005cbf;
}
