.nav-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-nav {
    width:150px;
}

.navigation-bar {
    background-color: #EFEFEF;
    border-bottom: 1px solid #008650;
}

.navbar-light .navbar-nav .nav-link {
    color: #008650;
}

.links-nav {
    text-decoration: none;
}

.user-nav {
    display: flex;
    margin-left: 15px;
}